:root{
    --red:#f7c551
}
/*! -------------- 1- NAVBAR ---------------- */

.navbar {
  font-size: 1.2rem;

}
.lav-link.active{
    color: rgb(236, 102, 6) !important;

}
.nav-link{
    transition: color 0.7s;
}
.nav-link:hover{
    color: var(--red) !important ;
}

/*! ------------- 2- CAROUSEL --------------- */

.carousel-item{
    max-height: calc(100vh - 93px);
}

.carousel-caption .btn{
    width: 7rem;
    margin-bottom: 1rem;
}
.carousel-caption h5{
    color: rgb(194, 120, 9);
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px black;
}
.carousel-caption p{
    text-shadow: 3px 3px 3px black;
    color: rgb(230, 224, 215);
}
.carousel-caption{
    bottom: 8rem !important;
}

.carousel-indicators button{
    background-color: var(--red)  !important;
    margin-right: 1rem !important;
    height: 0.3rem !important;
}

/*! ------------ 3- ABOUT SECTION ----------- */

/*! ------------- 4- INSTRUCTORS -------------*/

/*! ----------- 4- STUDENTS SECTION ----------*/

/*! ----------- 5- COURSES SECTION ----------- */

/*! ----------- 6- CONTACT SECTION ------------ */

/*! --------------- 7- FOOTER ----------------- */
